@use "@/styles/_font-size" as fs;
@use "@/styles/_colors" as c;
@use "@/styles/_breakpoint" as bp;

.not-found-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: c.$Background-1;
  min-height: 100vh;
}

.not-found-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  gap: 2rem;
  top: 20%;
}

.not-found-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: fs.$font-size-xs;
  color: c.$Gray-1;

  @include bp.tablet {
    font-size: fs.$font-size-sm;
  }

  @include bp.desktop {
    font-size: fs.$font-size-base;
  }

  .user-name {
    font-size: fs.$font-size-lg;
    font-weight: 700;
    color: c.$Blue-3;
    padding-bottom: 1.5rem;

    @include bp.tablet {
      font-size: fs.$font-size-h1;
    }
  }
}
