@use "@/styles/_font-size" as fs;
@use "@/styles/_colors" as c;
@use "@/styles/_breakpoint" as bp;

.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: c.$Background-1;
  min-height: 100vh;
}

.ad-banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10rem;
  margin: 3rem;
  padding: 0 2rem;
}

.ad-banner {
  width: 100%;
  max-width: 102.4rem;
}
