@use "@/styles/_font-size" as fs;
@use "@/styles/_colors" as c;
@use "@/styles/_breakpoint" as bp;

.search-navbar-wrapper {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  background-color: c.$Blue-3;
}

.user-info-search-navbar {
  width: 100%;
  max-width: 102.4rem;
  display: flex;
  justify-content: center;
}
