@use "@/styles/_font-size" as fs;
@use "@/styles/_colors" as c;
@use "@/styles/_breakpoint" as bp;

.search-button {
  position: absolute;
  top: 50%;
  right: 2.5rem;
  transform: translate(0, -45%);
  border: none;
  background-color: transparent;
  width: 5rem;
  height: 4rem;
  cursor: pointer;
}
