@use "@/app/_styles/font-size" as fs;
@use "@/app/_styles/colors" as c;
@use "@/app/_styles/media-breakpoint" as bp;

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: c.$Background-2;
  margin: 0.2rem 0;
}

.user-info-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 102.4rem;
  height: 5rem;
}

.navbar-content {
  background-color: c.$Gray-7;
  margin-left: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;

  > p {
    font-size: fs.$font-size-xs;
    color: c.$Gray-1;
    font-weight: 600;

    @include bp.tablet {
      font-size: fs.$font-size-sm;
    }
  }
}
