$Blue-7: #27344e;
$Blue-6: #004893;
$Blue-5: #0059bc;
$Blue-4: #0567ce;
$Blue-3: #098feb;
$Blue-2: #0ab1ff;
$Blue-1: #10dfff;

$Gray-1: #ffffff;
$Gray-4: #9aa4af;
$Gray-5: #818181;
$Gray-6: #3b3b3b;
$Gray-10: #000000;

$Background-1: #0c1019;
$Background-2: #1f2430;

$Green-1: #40a258;
