$breakpoint-small-mobile: 320px;
$breakpoint-common-mobile: 480px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1024px;

@mixin small-mobile {
  @media (min-width: #{$breakpoint-small-mobile}) {
    @content;
  }
}
@mixin common-mobile {
  @media (min-width: #{$breakpoint-common-mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
